@charset "utf-8";
body {
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	font-size: 12px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}


/****************************
 *******     头部    **********
 * ***************************/
.header {
	width: 100%;
	height: 50px;
	background-color: #24AC7E;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999;
}

/* 头部logo */
.logo {
	height: 50px;
	float: left;
}

/* 移动logo */
.img-logo,
.img-home-logo {
	width: 50px;
	height: 50px;
	display: block;
	float: left;
	text-align: center;
	background-color: #1FA075;
	color: #FFF;
}

.img-logo i {
	font-size: 26px;
	line-height: 50px;
}

/* 一体化营销平台logo */
.img-home-logo {
	width: 100px;
	background-color: #24AC7E;
}

.img-home-logo :hover {
	background-color: #1FA075;
}

.img-home-logo i {
	display: block;
	line-height: 50px;
	font-size: 22px;
}

/* 头部功能列表 */
.header_items {
	float: left;
	height: 50px;	
	line-height: 50px;
	cursor: pointer;
	position: relative;
}

.header_items:hover {
	background-color: #1FA075;
}

/* 头部功能列表新消息提醒   */
.btn-notice-num {
	color: #FFF;
	width: 14px;
	height: 14px;
	margin-top: 18px;
	line-height: 14px;
	font-size: 10px;
	display: none;
	margin-left: 3px;
	vertical-align: top;
	text-align: center;
	background-image: url(../img/head-tips.png);
	
}

.header_items-title.tips .btn-notice-num {
	display: inline-block;
}

/* 功能列表中间竖线 */
.logo:after,
.user-profile:before,
.header_items:after {
	content: '';
	display: block;
	width: 1px;
	height: 50px;
	background-color: #1FA075;
	float: right;
}

/* 去除搜索框后竖线 */
.header_search:after {
	display: none;
}

/* 用户信息左侧竖线 */
.user-profile:before {
	float: left;
}

/* 功能列表按钮 */
.header_items button {
	background: transparent;
	outline: 0;
}

/* 功能列表按钮以及搜索按钮样式 */
.header_search button,
.header_items .header_items-title {
	color: #FFF;
	font-size: 12px;
	font-weight: 400;
	padding: 0 15px;
	display: block;
	float: left;
}

/* 功能列表按钮icon */
.header_items i {
	display: block;
	float: left;
}

/* 功能列表ul */
.header_items ul {
	position: absolute;
	top: 50px;
	width: 100%;
	display: none;
	text-align: center;
	background-color: #FFF;
	padding: 0;
    margin: 0;
    min-width: 0;
    border: none;
   	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
   	border: 1px solid #E1E6EB;
   	border-top: none;
}

/* 功能列表ul打开样式 */
.header_items.open .header_items-title {
	background-color: #FFF !important;
	color: #333;
}

/* 功能列表ul列表项 */
.header_items ul li {
	height: 40px;
	font-size: 12px;
	border-top: 1px solid #eaedf1;
	text-align: left;
	line-height: 39px;
	font-weight: 300;
	color: #333;
}

.header_items ul li a {
	color:inherit;
	padding: 0 15px;
}

.header_items ul li:hover {
	background-color: #f7f7f7;
}

.wait-me-task ul li a {
	padding: 0;
}

/* 待我处理ul宽度 */
.wait-me-task ul {
	width: 500px;
}

/* 待我处理列表项 */
.wait-me-task ul li {
	padding: 10px 15px;
	height: auto;
	line-height: 12px;
	overflow: hidden;
	color: #333;
}

/* 待我处理信息内容 */
.wait-task-items {
	width: 400px;
	height: 40px;
	float: left;
}

/* 待我处理信息名称 */
.wait-task-name {
	color: #24AC7E;
	font-weight: 400;
}

/* 待我处理信息时间与名称样式 */
.wait-task-name,
.wait-task-time {
	display: block;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* 待我处理-立即处理样式 */
.task-soon {
	display: block;
	width: 68px;
	height: 30px;
	float: left;
	line-height: 30px;
	text-align: center;
	color: #333;
	background-color: #eaedf1;
	margin: 5px 0;
}

/* 搜索外层 */
.header_search {
	height: 30px;
	margin: 10px 0;
	color: #FFF;
}

.header_search:hover {
	background-color: transparent;
}

/* 搜索按钮 */
.header_search button {
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: inherit;
	display: block;
	float: left;
	margin: 0 10px;
	padding: 0;
	cursor: default;
	position: absolute;
	background-color: transparent;
}

/* 搜索框 */
.header_search input {
	width: 240px;
	height: 30px;
	font-size: 12px;
	color: inherit;
	float: left;
	background-color: #24AC7E;
	box-sizing: content-box;
	outline: none;
	font-weight: 400;
	line-height: 30px;
	padding-left: 30px;
	box-shadow: none;
}

/* 搜索外层悬停 按钮与搜索框背景色与字体颜色 */
.header_search:hover input,
.header_search:hover button {
	background-color: #FFF;
	color: #333;
}

/* 搜索框focus时背景色与字体颜色 */
.header_search input:focus {
	background-color: #FFF;
	color: #333;
}

/* 搜索框focus时按钮的背景色与字体颜色 */
.header_search input:focus + button {
	color: #333;
	z-index: 1;
}

/* 搜索框placeholder颜色 */
.header_search input::-webkit-input-placeholder {
	color: #FFF;
}
.header_search input:-moz-placeholder {
	color: #FFF;
}
.header_search input::-moz-placeholder {
	color: #FFF;
}
.header_search input:-ms-input-placeholder {
	color: #FFF;
} 

/* 搜索框focus与搜索外层悬停时placeholder颜色 */
.header_search:hover input::-webkit-input-placeholder,
.header_search input:focus::-webkit-input-placeholder {
	color: #333;
}

.header_search:hover input:-moz-placeholder,
.header_search input:focus:-moz-placeholder {
	color: #333;
}

.header_search:hover input::-moz-placeholder,
.header_search input:focus::-moz-placeholder {
	color: #333;
}

.header_search:hover input:-ms-input-placeholder,
.header_search input:focus:-ms-input-placeholder {
	color: #333;
} 

/* 用户个人设置右浮动 */
.user-profile {
	float: right;
}

/* 用户个人设置-button */
.user-profile .header_items-title {
	padding: 0 20px;
}

/* 用户个人设置-icon右浮动 */
.user-profile i {
	float: right;
}

/* 用户个人设置-列表项 */
.user-profile ul li {
	padding-left: 20px;
}

/* 用户个人设置-icon
 * 待我处理-icon
 * 所有功能-icon
 * 快速新建-icon
 *       
 * 点击旋转      */
.secondary .btn-group button i,
.user-profile i,
.wait-me-task i,
.all-function i,
.fast-new-built i,
.bulk-operation-btn i {
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	-ms-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	transition: transform 0.3s;
}

.secondary .btn-group.open button i,
.user-profile.open i,
.wait-me-task.open i,
.all-function.open i,
.fast-new-built.open i,
.bulk-operation.open .bulk-operation-btn i {
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotate3d(0, 0, 1, 180deg);
	-ms-transform: rotate3d(0, 0, 1, 180deg);
	transform: rotate3d(0, 0, 1, 180deg);
	transition: transform 0.3s;
}

/* 用户个人设置
 * 待我处理
 * 所有功能
 * 快速新建
 * ul打开 */
.user-profile.open ul,
.fast-new-built.open ul,
.all-function.open ul,
.wait-me-task.open ul {
	display: block;
}

/* >>>>>>>>>>>
 * 
 *  header end!
 * 
 * >>>>>>>>>>> */

/* 主体部分 */
.main {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

/* 一、二级左侧边栏 */
.viewFramework-sidebar,
.viewFramework-sidebar2 {
	width: 180px;
	position: fixed;
	top: 50px;
	left: 0;
	bottom: 0;
	background-color: #293038;
	transition: width 0.2s;
	
}

/* 侧边栏z-index */
.viewFramework-sidebar {
	z-index: 99999;
}

/* 二级侧边栏样式 */
.viewFramework-sidebar2 {
	left: 180px;
	z-index: 999;
	background-color: #EAEDF1;
	transition: all 0.2s;
	display: none;
	border: 1px solid #E1E6EB;
}

/* 一级侧边栏收起样式 */
.fold .viewFramework-sidebar {
	width: 50px;
	transition: width 0.2s;
}

/* 二级侧边栏收起样式 */
.fold2 .viewFramework-sidebar2 {
	width: 0px;
	transition: width 0.2s;
}

/* 一级侧边栏收起二级侧边栏左距离 */
.fold .viewFramework-sidebar2 {
	left: 50px;
}

/* 一级左侧边栏收起展开按钮 */
.sidebar-fold {
	width: 100%;
	height: 30px;
	display: block;
	position: relative;
	background-color: #394555;
	text-align: center;
	cursor: pointer;
}

/* 一级侧边栏收起按钮默认样式 */
.icon-sidebar-fold:before {
	font-family: iconfont;
	font-size: 10px;
	content: "\e603";
	color: #FFF;
	line-height: 30px;
}

/* 一级侧边栏收起按钮fold样式 */
.fold .icon-sidebar-fold:before {
	content: "\e604";
}

/*《《《《《《《《《《
 *   左侧边栏一级菜单
 * 》》》》》》》》》》 */
.primary-nav-items {
	width: 100%;
	height: 40px;
	overflow: hidden;
	cursor: pointer !important;
}

.primary-nav-items:hover {
	background-color: #394555;
}

.primary-nav-items.active {
	background-color: #24AC7E;
}

/* 一级菜单items内容区 */
.nav-items-content {
	height: 40px;
	display: block;
}

/* 一级菜单名称 */
.nav-items-content span {
	line-height: 40px;
	color: #FFF;
	display: block;
}

/* 一级菜单icon */
.nav-icon {
	width: 50px;
	height: 40px;
	float: left;
	text-align: center;
}

.nav-icon span:before {
	font-family: iconfont;
	font-size: 16px;
	display: block;
	width: 50px;
	height: 40px;
	text-align: center;
}

.icon-index:before {
	content: "\e61e";
}

.icon-wdyx:before {
	content: "\e61f";
}

.icon-yxys:before {
	content: "\e616";
}

.icon-yxch:before {
	content: "\e60f";
}

.icon-zxkz:before {
	content: "\e601";
}

.icon-yxfx:before {
	content: "\e61d";
}

.icon-zsk:before {
	content: "\e615";
}

.icon-xthtgl:before {
	content: "\e61c";
}

/* 一级菜单名称 */
.nav-title {
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	width: 130px;
	font-size: 12px;
}


/* 左侧二级菜单标题 */
.viewFramework-sidebar2-title {
	display: block;
	width: 100%;
	height: 70px;
	line-height: 70px;
	font-weight: 500;
	padding-left: 40px;
	background: #D9DDE2;
	overflow: hidden;
}

/* 左侧二级菜单列表 */
.viewFramework-sidebar2 li {
	height: 40px;
	padding-left: 40px;
	line-height: 40px;
	color: #394555;
	cursor: pointer;
	overflow: hidden;
}

.viewFramework-sidebar2 li a {
	color: inherit;
}

.viewFramework-sidebar2 li.open {
	background-color: #FFF;
}

.viewFramework-sidebar2 li:hover {
	background-color: #F4F6F8;
}

/* 左侧二级菜单隐藏按钮 */
.sidebar-fold2 {
	position: absolute;
	left: 156px;
	top: 50%;
	width: 24px;
	height: 48px;
	z-index: 3;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}

.sidebar-fold2_inner {
	top: -50%;
	position: relative;
	overflow: hidden;
}

.sidebar-fold2_bg {
	width: 0;
	height: 48px;
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	left: auto;
	border-bottom: 9px solid transparent;
	border-left: 24px solid #D6E0EC;
	border-right: 24px solid #D6E0EC;
	border-top: 9px solid transparent;
}

.sidebar-fold2_icon {
	height: 48px;
	position: relative;
	text-align: center;
	cursor: pointer;
	-o-transition: all 0.1s ease,0.1s ease;
	-ms-transition: all 0.1s ease,0.1s ease;
	-moz-transition: all 0.1s ease,0.1s ease;
	-webkit-transition: all 0.1s ease,0.1s ease;
}

.icon-sidebar-fold2 {
	line-height: 48px;
	text-align: center;
	color: #B5C5D9;
}

.icon-sidebar-fold2:before {
	content: "\e604";
	font-family: iconfont;
}

.sidebar-fold2:hover .sidebar-fold2_bg {
	border-right: 30px solid #C8D2DE;
}

.sidebar-fold2:hover .icon-sidebar-fold2 {
	color: #93A0B0;
}


.fold2 .viewFramework-sidebar2 li,
.fold2 .viewFramework-sidebar2-title {
	display: none;
}


.fold2 .sidebar-fold2_bg {
	width: 0;
	height: 48px;
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 9px solid transparent;
	border-left: 24px solid #D6E0EC;
	border-top: 9px solid transparent;
}

.fold2 .sidebar-fold2 {
	left: 0;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}

.viewFramework-sidebar2-items {
	display: none;
}

.viewFramework-sidebar2-items .active {
	display: block;
}

.placeholder {
	color: #9DA2B6;
}

.iframepage {
	width: 100%;
	height: 100%;
}

.iframe-wapper {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 180px;
	transition: left .2s;
}

body.fold .iframe-wapper {
	left: 50px;
	transition: left .2s;
}

body.fold .iframe-wapper {
	left: 50px;
	transition: left .2s;
}

body.fold.open2 .iframe-wapper {
	left: 230px;
	transition: left .2s;
}

body.fold.fold2.open2 .iframe-wapper {
	left: 50px;
	transition: left .2s;
}

body.fold2.open2 .iframe-wapper {
	left: 180px;
	transition: left .2s;
}

body.open2 .iframe-wapper {
	left: 360px;
	transition: left .2s;
}
