@charset "utf-8";
.viewFramework-index-body {
	padding: 0 15px;
}

.viewFramework-index-tabs {
	position: absolute;
	right: 0;
	width: 100%;
	bottom: 0;
	padding: 0 15px;
	top: 77px;
}

.viewFramework-index-tabs hr {
	border: none;
	height: 1px;
	background-color: #E1E6EB;
	margin-top: -1px;
}

.tabs-wapper {
	display: none;
	overflow: hidden;
	margin-top: 15px;
	top: 0;
	position: absolute;
	bottom: 0;
	left: 15px;
	right: 15px;
}

.tabs_menu {
	overflow: hidden;
}

.tabs_menu li {
	width: 150px;
	float: left;
	border: 1px solid #E1E6EB;
	border-left: none;
	border-bottom: none;
	height: 34px;
	box-sizing: content-box;
	cursor: pointer;
	text-align: center;
}

.tabs_menu li:first-child {
	border-left: 1px solid #E1E6EB;
}

.tabs_menu li a {
	display: block;
	background: #f8f8f8;
	color: #9DA2B6;
	outline: none;
	height: 31px;
	line-height: 33px;
	box-sizing: content-box;
	border-top: 2px solid transparent;
	border-bottom: 1px solid #E1E6EB;
}

.tabs_menu li a:hover {
	background: #f5f5f5;
	text-decoration: none;
}

.tabs_menu .current a {
	height: 34px;
	background: #FFF !important;
	color: #22282E !important;
	border-top: 2px solid #24AC7E !important;
	border-bottom: none !important;
}

.tabs_box {
	position: absolute;
	width: 100%;
	top: 35px;
	left: 0;
	bottom: 0;
	padding: 0 15px;
}

.tabs_sidebar {
	width: 190px;
	float: left;
	border: 1px solid #E1E6EB;
	background-color: #F1F4F7;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
}

.tabs_body {
	position: absolute;
	top: 0;
	left: 200px;
	right: 0;
	bottom: 0;
}

.tabs_nav {
	height: 32px;
	position: relative;
}

.tabs_search {
	float: left;
	top: 0px !important;
	width: 234px;
	height: 32px;
	border: 1px solid #E1E6EB;
}

.tabs_search input {
	width: 202px;
	height: 30px;
	float: left;
	background-color: #FAFAFA;
	padding-left: 10px;
	border-right: 1px solid #E1E6EB;
	line-height: 30px;
}

.tabs_search button {
	width: 30px;
	height: 30px;
	float: left;
	background-color: #FFF;
	color: #24AC7E;
}

.tabs_search button:hover {
	background-color: #fCfCfC;
}

.tabs_nav-left {
	float: left;
}

.tabs_nav-left input {
	width: 235px;
	height: 32px;
	float: left;
	background-color: #FAFAFA;
	padding-left: 10px;
	border: 1px solid #E1E6EB;
	margin-right: 10px;
	line-height: 30px;
}

.tabs_nav-right {
	float: right;
}

.chart-head .delete-btn,
.tabs_nav-left button,
.tabs_nav-right button {
	width: 75px;
	background-color: #FFf;
	height: 32px;
	border: 1px solid #E1E6EB;
	border-radius: 4px;
	float: left;
	margin-right: 10px;
}

.chart-head .delete-btn,
.tabs_nav-left button {
	background-color: #FAFAFA;
}

.chart-head .delete-btn i,
.tabs_nav-left button i,
.tabs_nav-right button i {
	font-size: 12px;
	color: #24AC7E;
	margin-right: 6px;
}

.tabs_nav-right button:last-child {
	margin-right: 0;
}

.chart-head .delete-btn:hover,
.tabs_nav-left button:hover,
.tabs_nav-right button:hover {
	background-color: #24AC7E;
	color: #FFF;
}

.chart-head .delete-btn:hover i,
.tabs_nav-left button:hover i,
.tabs_nav-right button:hover i {
	color: inherit;
}

.tabs_body thead th:last-child {
	text-align: center;
	padding-right: 8px;
	width: 180px;
}

.tabs_main {
	margin-top: 10px;
}

.tree-empty button.add,
.tree-empty button.delete {
	width: 50%;
	height: 32px;
	float: left;
	background-color: #FAFAFA;
	border: 1px solid #E1E6EB;
	border-left: none;
	color: #293038;
}

.tree-empty button.delete {
	border-right: none;
}

.tree-empty button.add i,
.tree-empty button.delete i {
	font-size: 12px;
	color: #24AC7E;
	margin-right: 6px;
}

.tree-empty button.add:hover,
.tree-empty button.delete:hover {
	background-color: #FEFEFE;
}

.tabs_body table tbody tr .name {
	color: #293038 !important;
}

.tabs_body table tr .name {
	padding-left: 60px !important;
}

.right-alert-content-main {
	padding: 30px 55px;
}

.import-clientBase {
	width: 100%;
}

.import-clientBase-left {
	width: 446px;
	border-right: 1px solid #E1E6EB;
	float: left;
}

.import-clientBase-left li {
	padding-right: 30px;
	float: left;
	margin-bottom: 30px;
}

.import-clientBase-left li .form-left,
.import-clientBase-left li .form-right {
	float: left;
	height: 32px;
	line-height: 32px;
}

.import-clientBase-left li .form-left {
	width: 90px;
	padding-right: 15px;
}

.import-clientBase-left li .form-left {
	text-align: right;
	color: #999;
}

.import-clientBase-left li .form-right {
	width: 325px;
}

.import-clientBase-left li .form-right input,
.import-clientBase-left li .form-right textarea {
	width: 100%;
	height: 32px;
	background-color: #FAFAFA;
	border: 1px solid #E1E6EB;
	padding: 0 10px;
	outline: none;
}

.import-clientBase-left li .form-right textarea {
	max-width: 100%;
	height: 64px;
}

.import-clientBase-left li:nth-child(2) .form-right input {
	background-color: transparent;
	border: none;
	padding: 0;
	height: auto;
	line-height: 0;
	margin: 7px 0;
	color: #999;
}

.tree {
	color: #46CFB0;
	width: 100%;
}

.toggler {
	display: block;
}

.tree-primary-items {
	background-color: #FFF;
}

.tree-primary-items,
.tree-secondary-items,
.tree-third-items {
	color: #293038;
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	float: left;
	padding: 0 12px 0 23px;
	border-bottom: 1px solid #E1E6EB;
	cursor: pointer;
}

.tree-primary-items:after {
	content: "\e614";
	font-family: iconfont;
	color: #24AC7E;
	float: right;
}

.tree-secondary-items,
.tree-third-items {
	background-color: transparent;
	border-bottom: none;
	height: 30px;
	line-height: 30px;
}

.tree-secondary-items:before {	
	font-family: iconfont;
	color: #24AC7E;
	float: left;
	content: "\e614";
}

.tree-secondary-items:hover {
	background-color: #FAFBFC;
}

.tree-third-items {
	background-color: #E5EAEE;
	padding-left: 40px;
}

.tree-third-items:hover {
	background-color: #E3E6EA;
}

.tree-third-items:before {
	content: "\e624";
	font-family: iconfont;
	color: #B0BACA;
	float: left;
	margin-right: 7px;
}

.treemenu {
	width: 100%;
	overflow: hidden;
}

.no-chirld:before {
	content: "\e624";
	color: #B0BACA;
	margin-right: 2px;
}

.no-chirld.active:before,
.tree-third-items.active:before {
	content: "\e623";
	color: #24AC7E;
}

.have-chirld:before {
	content: "\e614" !important;
	color: #24AC7E;
}

.have-chirld + ul li {
	height: 24px;
	line-height: 24px;
	cursor: pointer;
	overflow: hidden;
}

.have-chirld + ul li span {
	color: #293038;
	padding-left: 40px;
}

.have-chirld + ul li:hover {
    background-color: #FAFBFC;
}

.have-chirld:before,
.tree-secondary-items:before,
.tree-primary-items:after {
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	-ms-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	transition: transform 0.3s;
	opacity: 1;
}

.tree-opened .treemenu .tree-opened .treemenu .tree-opened .have-chirld:before,
.tree-opened .treemenu .tree-opened .tree-secondary-items:before,
.tree-opened .tree-primary-items:after {
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotate3d(0, 0, 1, 90deg);
	-ms-transform: rotate3d(0, 0, 1, 90deg);
	transform: rotate3d(0, 0, 1, 90deg);
	transition: transform 0.3s;
	opacity: 1;
}

.tabs_body-left {
	position: absolute;
	left: 0;
	right: 305px;
	bottom: 0;
	top: 0;
}

.tabs_body-left .tabs_nav-right button {
	background-color: #24AC7E;
	color: #FFF;
	border: none;
}

.tabs_body-left .tabs_nav-right button:hover {
	background-color: #1FA075;
}

.tabs_body-left-chart {
	margin-top: 10px;
}

.chart-head {
	width: 100%;
	height: 64px;
	border: 1px solid #E1E6EB;
}

.chart-head .delete-btn {
	margin: 16px 20px;
}

.chart--btn {
	float: right;
	height: 32px;
	margin: 16px 20px;
}

.chart--btn li {
	float: left;
	margin-right: 10px;
}

.chart--btn li:last-child {
	margin-right: 0;
}

.condition-btn,
.delete-condition,
.chart--btn li button {
	width: 32px;
	height: 32px;
	border: 1px solid #24AC7E;
	border-radius: 4px;
	color: #24AC7E;
	background-color: #FFF;
	margin-right: 8px;
}

.condition-btn,
.delete-condition {
	float: left;
}

.delete-condition {
	margin-right: 0;
	position: absolute;
	left: 0;
	top: 32px;
	background-image: url(../img/black80%.png);
	background-repeat: repeat;
	color: #FFF;
	border: none;
	display: none;
	z-index: 9999999999999999;
}

.condition-content:hover .delete-condition {
	display: block;
}

.chart--btn li button:hover {
	background-color: #24AC7E;
	color: #FFF;
}


.tree_choose-alrte-div {
	position: absolute;
	z-index: 9999999999999999;
	background: url(../img/black80%.png) repeat;
	color: #fff;
	margin-bottom: 0;
	display: none;
}

#liuliangyunying {
	left: 50%;
	top: 30%;
	width: 400px;
	margin-left: -200px;
}

.tree_choose-alrte-div_head {
	width: 100%;
	height: 40px;
	background-color: #24AC7E;
	position: relative;
	font-size: 14px;
	line-height: 40px;
	padding-left: 25px;
}

.tree_choose-alrte-div li {
	float: left;
	margin-bottom: 15px;
	cursor: pointer;
}

.tree_choose-alrte-div li span:before{
	content: '\e624';
	font-family: iconfont;
	margin-right: 5px;
	float: left;
}

.tree_choose-alrte-div li.checked span:before{
	content: '\e623';
	color: #24AC7E;
}

.tree_choose-alrte-div .col-1-2 {
	margin-bottom: 0;
}

.tree_choose-alrte-div .col-1-2 li:last-child {
	margin-bottom: 0;
	margin-right: 0;
}


.tree_choose-alrte-div li:hover {
	color: #24AC7E;
}

.tree_choose-alrte-div .col-1-2 {
	overflow: hidden;
	float: left;
}

.tree_choose-alrte-div li span {
	color: #FFF;
}

.tree_choose-alrte-div_close-btn {
	position: absolute;
	right: 15px;
	top: 10px;
	color: #FFF;
	cursor: pointer;
}

.tree_choose-alrte-div_body {
	padding: 30px 30px;
	overflow: hidden;
}

.tree_choose-alrte-div_close-btn:hover {
	color: #1A7254;
}

.ok-btn {
	float: left;
	margin-top: 10px;
}

.ok-btn a {
	display: block;
	background-color: #24AC7E;
	color: #FFF;
	border-radius: 4px;
	line-height: 32px;
	width: 75px;
	height: 32px;
	margin: 0 auto 15px;
	text-align: center;
	cursor: pointer;
}

.ok-btn a:hover {
    background-color: #1FA075;
}

.condition-content2 {
	background-color: #62B5DF;
	border-radius: 4px;
	margin-right: 10px;
}


.condition-content2 span,
.delete-condition2 {
	width: 32px;
	height: 32px;
	display: block;
	float: left;
	line-height: 32px;
}

.condition-content2 span {
	width: auto;
	height: 32px;
	padding: 0 10px;
	color: #FFF;
}

.delete-condition2 {
	background-color: transparent;
	border-radius: 0 4px 4px 0;
	text-align: center;
	cursor: pointer;
}

.delete-condition2 i {
	color: #FFF;
}

.delete-condition2:hover {
	background-image: url(../img/black15%.png);
	background-repeat: repeat;
}

.delete-condition2:before {
	content: '';
	width: 1px;
	height: 14px;
	margin: 9px 0;
	display: block;
	float: left;
	background-image: url(../img/black15%.png);
	background-repeat: repeat;
}

.chart-body {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 106px;
	background-image: url(../img/chart-bgImg.png);
	background-repeat: repeat;
	border: 1px solid #E1E6EB;
	border-top: none;
	padding: 25px;
}

.chart-body div {
	float: left;
	position: relative;
	margin-bottom: 25px;
}

.tabs_body-right-finish {
	width: 290px;
	float: right;
}

.tabs_body-right-finish-title {
	height: 14px;
	display: block;
	margin: 18px 0px 10px;
	font-size: 14px;
	color: #22282E;
	line-height: 14px;
}

.tabs_body-right-finish-title:before {
	content: '';
	width: 2px;
	height: 14px;
	display: block;
	float: left;
	background-color: #24AC7E;
	margin-right: 10px;
}

.tabs_body-right-finish table thead tr th:first-child {
	padding-left: 15px;
	text-align: left;
}

.tabs_body-right-finish table thead tr th:last-child {
	padding-right: 15px;
	text-align: right;
}

.tabs_body-right-finish table tbody tr th:first-child {
	padding-left: 15px;
	text-align: left;
}

.tree-secondary-items_search {
	width: 176px;
	height: 30px;
	margin: 7px;
}

.tree-secondary-items_search input {
	width: 146px;
	height: 30px;
	background-color: #E1E6EB;
	padding-left: 15px;
	float: left;
	font-weight: 300;
	color: #FFF;
}

.tree-secondary-items_search input:focus {
	background-color: #24AC7E;
}


/* 搜索框placeholder颜色 */

.tree-secondary-items_search input:-webkit-input-placeholder {
	color: #293038;
}

.tree-secondary-items_search input:-moz-placeholder {
	color: #293038;
	font-weight: 400;
}

.tree-secondary-items_search input:-moz-placeholder {
	color: #293038;
	font-weight: 400;
}

.tree-secondary-items_search input:-ms-input-placeholder {
	color: #293038;
}


/* 搜索框placeholder颜色 */

.tree-secondary-items_search input:focus:-webkit-input-placeholder {
	color: #24AC7E;
}

.tree-secondary-items_search input:focus:-moz-placeholder {
	color: #24AC7E;
}

.tree-secondary-items_search input:focus:-moz-placeholder {
	color: #24AC7E;
}

.tree-secondary-items_search input:focus:-ms-input-placeholder {
	color: #24AC7E;
}

.secondary .btn-group button a,
.tree-secondary-items_search button {
	width: 30px;
	height: 30px;
	background-color: #FFF;
	color: #24AC7E;
	float: right;
}

.secondary .btn-group {
	margin-top: 0;
}

.secondary .btn-group button {
	width: 100%;
	height: 30px;
	text-align: left;
	padding-left: 15px;
	background-color: #E1E6EB;
	line-height: 30px;
	color: #293038;
}

.secondary .btn-group button a {
	display: block;
	text-align: center;
}

.secondary .btn-group button i {
	line-height: 30px;
	display: block;
}

.secondary .btn-group .dropdown-menu {
	border: none;
	width: 100%;
	padding: 0;
	box-shadow: none;
	margin: 0;
}

.secondary .btn-group .dropdown-menu li:hover {
	background-color: #f5f5f5;
}

.secondary .btn-group .dropdown-menu li {
	padding-left: 15px;
}

.tree-secondary-items {
	padding-left: 10px;
}

.tree-third-items {
	padding-left: 21px;
}

.js-tabs-div2 .tipso_bubble {
	display: block !important;
}

