@charset "utf-8";
/*  右侧外层边距15   */
.viewFramework-index-body {
	padding: 0 15px;
}
/*  右侧tab   */
.viewFramework-index-tabs {
	margin-top: 15px;
}
/*  右侧tab下划线   */
.viewFramework-index-tabs hr {
	border: none;
	height: 1px;
	background-color: #E1E6EB;
	margin-top: -1px;
}
/*  右侧tab对应div   */
.tabs-wapper {
	display: none;
}
/*  右侧tab 按钮   */
.tabs_menu {
	overflow: hidden;
}

.tabs_menu li {
	float: left;
	border: 1px solid #E1E6EB;
	border-left: none;
	border-bottom: none;
	height: 34px;
	box-sizing: content-box;
	cursor: pointer;
}

.tabs_menu li:first-child {
	border-left: 1px solid #E1E6EB;
}

.tabs_menu li a {
	display: block;
	padding: 0 20px;
	background: #f8f8f8;
	color: #9DA2B6;
	outline: none;
	height: 31px;
	line-height: 33px;
	box-sizing: content-box;
	border-top: 2px solid transparent;
	border-bottom: 1px solid #E1E6EB;
}

.tabs_menu li a:hover {
	background: #f5f5f5;
	text-decoration: none;
}

.tabs_menu .current a {
	height: 34px;
	background: #FFF !important;
	color: #22282E !important;
	border-top: 2px solid #24AC7E !important;
	border-bottom: none !important;
}
/*  右侧tab对应div 功能栏   */
.tabs_nav {
	height: 35px;
	margin: 15px 0;
	position: relative;
}
/*  右侧tab对应div 搜索   */
.tabs_search {
	float: left;
	width: 245px;
	height: 35px;
	border: 1px solid #E1E6EB;
	margin-right: 38px;
}

/*  右侧tab对应div 搜索、日期input   */
.start-date input,
.over-date input,
.tabs_search input {
	width: 210px;
	height: 33px;
	float: left;
	padding-left: 10px;
	border-right: 1px solid #E1E6EB;
	background-color: #FAFAFA;
	z-index: 9999;
	line-height: 33px;
	color: #9DA2B6;
	box-shadow: none;
}

/*  右侧tab对应div 日期左侧icon按钮   */
.tabs_choose-date button,
.tabs_search button {
	width: 33px;
	height: 33px;
	float: left;
	background-color: #FFF;
	color: #24AC7E;
}

.tabs_choose-date button:hover,
.tabs_search button:hover {
	background-color: #fCfCfC;
}
/*  选择日期   */
.tabs_choose-date {
	height: 35px;
	float: left;
}
/*  选择日期之间 “至”   */
.start-date + p {
	display: block;
	float: left;
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	color: #9DA2B6;
}
/*  开始、结束日期   */
.tabs_choose-date .start-date,
.tabs_choose-date .over-date {
	width: 135px;
	height: 35px;
	float: left;
	border: 1px solid #E1E6EB;
	padding-left: 0;
	position: relative;
	
}
/*  开始、结束日期 input   */
.tabs_choose-date .start-date input,
.tabs_choose-date .over-date input {
	width: 100px;
	border-right: none;
	border-left: 1px solid #E1E6EB;
}
/*  开始、结束日期 搜索按钮   */
.choose-date_search {
	width: 35px !important;
	height: 35px !important;
	border: 1px solid #E1E6EB;
	margin-left: 10px;
} 
/*  表格 class name a标签字体加粗   */
th.name a.dialog {
	font-weight: 400;
}
