@charset "utf-8";
.placeholder {
	color: #9DA2B6;
	position: absolute;
	left: 0px;
	padding-left: 10px;
	line-height: 32px;
	z-index: 1;
	width: 100% !important;
	text-align: left !important;
}

.iconBtn {
	width: 35px;
	height: 35px;
	border: 1px solid #E1E6EB;
	background-color: #FFF;
	color: #24AC7E;
}

.iconBtn:hover {
	background-color: #fCfCfC;
}

.iconTextBtn,
.iconTextBtn-import,
.TextBtn,
.TextBtn-import {
	width: 75px;
	background-color: #FFf;
	height: 32px;
	border: 1px solid #E1E6EB;
	border-radius: 4px;
	font-size: 12px;
}

.iconTextBtn i,
.iconTextBtn-import i {
	font-size: 12px;
	color: #24AC7E;
	margin-right: 6px;
}

.iconTextBtn:hover,
.TextBtn:hover {
	background-color: #24AC7E;
	color: #FFF;
	border-color: #24AC7E;
}

.iconTextBtn:hover i {
	color: #FFF;
}

.iconTextBtn-import,
.TextBtn-import {
	background-color: #24AC7E;
	color: #FFF;
	border-color: #24AC7E;
}

.iconTextBtn-import i {
	color: #FFF;
}

.iconTextBtn-import:hover,
.TextBtn-import:hover {
	background-color: #1FA075;
	border-color: #1FA075;
}

.dropdown-body {
	position: relative;
	float: left;
}

.dropdown-btn {
	height: 30px;
	border: 1px solid #E1E6EB;
	line-height: 30px;
	padding-left: 14px;
	box-sizing: content-box;
	background-color: #FAFAFA;
}

.dropdown-btn div,
.select-btn div,
.DeepColor-select-btn div,
.select-input-select-btn .select-input-select-btn_icon,
.select-input-search-btn div,
.search-input-btn div {
	width: 30px;
	height: 30px;
	float: right;
	border-left: 1px solid #E1E6EB;
	background: #FFF;
	text-align: center;
}

.dropdown-btn div {
	margin-left: 14px;
}

.dropdown-btn div i,
.select-btn div i,
.DeepColor-select-btn div i,
.select-input-select-btn div i,
.select-input-search-btn div i,
.search-input-btn div i {
	line-height: 30px;
	color: #24AC7E;
	display: block;
	text-align: center;
}

.dropdown-btn i,
.select-btn i,
.DeepColor-select-btn i,
.select-input-select-btn .select-input-select-btn_icon i {
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	-ms-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	transition: transform 0.3s;
}

.dropdown-body.open .dropdown-btn i,
.SpanSelect.open .select-btn i,
.DeepColorSelect.open .DeepColor-select-btn i,
.Select-input.open .select-input-select-btn .select-input-select-btn_icon i {
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotate3d(0, 0, 1, 180deg);
	-ms-transform: rotate3d(0, 0, 1, 180deg);
	transform: rotate3d(0, 0, 1, 180deg);
	transition: transform 0.3s;
}

.dropdown-menu,
.select-menu,
.DeepColor-select-menu {
	position: absolute;
	width: 100%;
	display: none;
	text-align: center;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	background-color: #FFF;
	padding: 0;
	margin: 0;
	border: none;
}

.dropdown-menu {
	top: 32px;
}

.dropdown-menu li,
.select-menu li,
.DeepColor-select-menu li {
	height: 30px;
	border-top: 1px solid #eaedf1;
	text-align: left;
	padding: 0 15px;
	line-height: 30px;
	font-weight: 300;
	color: #9DA2B6;
	cursor: pointer;
}

.dropdown-menu li:first-child,
.select-menu li:first-child,
.DeepColor-select-menu li:first-child {
	border-top: none;
}

.dropdown-menu li:hover,
.select-menu li:hover,
.DeepColor-select-menu li:hover {
	background-color: #f7f7f7;
	color: #333;
}

.SpanSelect,
.Select-input,
.SpanInput {
	width: 345px;
	height: 32px;
	position: relative;
}
.Input{
	width: 260px;
	overflow: hidden;
}
.SearchInput{
	width: 292px;
	height: 32px;
	border: 1px solid #E1E6EB;
	overflow: hidden;
}

.SpanSelect span,
.SpanInput > span {
	display: block;
	width: 85px;
	float: left;
	line-height: 32px;
	padding-right: 15px;
	text-align: right;
}

.SpanInput div,
.Input div,
.iconInput {
	width: 260px;
    height: 35px;
    float: left;
    background-color: #F8F8F8;
    border: 1px solid #E1E6EB;
    position: relative;
}

.iconInput {
	width: 200px;
}
.SpanInput input,
.Input input,
.iconInput input{
	width: 260px;
    height: 33px;
    float: left;
    z-index: 9999;
    padding-left: 10px;
    line-height: 33px;
    color: #9DA2B6;
    box-shadow: none;
    position: relative;
    background: transparent url(0) no-repeat !important;
}

.iconInput input {
	width: 165px;
}

.iconInput button {
	width: 33px;
	height: 33px;
	float: left;
	background-color: #FFF;
	color: #24AC7E;
	z-index: 9;
	position: relative;
	border-left: 1px solid #E1E6EB;
}

.select-btn,
.DeepColor-select-btn,
.select-btn a,
.DeepColor-select-btn a,
.iconInput button,
.search-input-btn a,
.select-input-select-btn .select-input-select-btn_icon {
	margin-left: 0;
}

.select-menu {
	width: 260px;
	top: 32px;
	right: 0;
}

.select-menu li.choosed {
	color: #24AC7E;
}

.DeepColorSelect {
	position: relative;
}

.DeepColor-select-menu {
	top: 32px;
}

.select-btn p,
.DeepColor-select-btn p {
	width: 213px;
	float: left;
	height: 30px;
	line-height: 30px;
	text-align: left;
	padding-left: 10px;
}

.SpanSelect.open .select-menu,
.DeepColorSelect.open .DeepColor-select-menu,
.dropdown-body.open .dropdown-menu {
	display: block;
}
.select-btn,.DeepColor-select-btn{
	border: 1px solid #E1E6EB;
}

.DeepColor-select-btn {
	width: 175px;
	background-color: #E1E6EB;
}

.DeepColor-select-btn p {
	width: 128px;
}

.Select-input {
	width: 260px;
	border: 1px solid #E1E6EB;
}

.Select-input input {
	width: 198px;
	height: 30px;
	padding: 0 10px;
	background-color: #FAFAFA;
	line-height: 30px;
}

.select-input-select-btn .select-input-select-btn_icon {
	border-left: none;
	border-right: 1px solid #E1E6EB;
}

.select-input-search-btn,
.select-input-select-btn,
.Select-input input,
.search-input-btn {
	float: left;
}

.select-input-menu {
	position: absolute;
	width: 100%;
	text-align: center;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	background-color: #FFF;
	padding: 0;
	margin: 0;
	border: none;
	top: 32px;
	display: none;
}

.select-input-menu li {
	height: 40px;
}


/* 地区选择CSS  */

.tab li,
.tab a,
.tab-item {
	float: left;
	text-align: center;
}

.tab li,
.tab a,
.tab-item {
	cursor: pointer;
	float: left;
	text-align: center;
}

#summary-stock .dt {
	margin-top: 4px;
}

#list1 .dt {
	float: left;
	height: 18px;
	text-align: right;
	width: 72px;
}

#list1 .dd {
	width: 324px;
	float: left;
}

#store-selector {
	position: relative;
	float: left;
	z-index: 2;
}

#store-selector dl,
#store-selector dt,
#store-selector dd {
	float: none;
	color: #999
}

#store-selector dl {
	position: absolute;
	top: 23px;
	z-index: 1;
	width: 358px;
	width: 358px;
	padding: 5px;
	border: 1px solid #ddd;
	background: #fff;
	display: none;
	-moz-box-shadow: 0 0 5px #ddd;
	-webkit-box-shadow: 0 0 5px #ddd;
	box-shadow: 0 0 5px #ddd
}

#store-selector dt {
	padding: 6px 0 10px;
	color: #999
}

#store-selector dd {
	padding-bottom: 5px;
	line-height: 18px
}

#store-selector a:link,
#store-selector a:visited {
	color: #005aa0;
}

#store-selector a:hover,
#store-selector a:active {
	background: #005aa0;
	color: #fff
}

#store-selector .select-input-select-btn_icon {
	overflow: hidden
}

#store-selector .select-input-select-btn_icon b {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	width: 17px;
	height: 24px;
	background: url(../images/btn20121210.png) 0 0 no-repeat
}

#store-selector .close {
	display: none;
	position: absolute;
	z-index: 2;
	cursor: pointer;
	width: 17px;
	height: 17px;
	top: 32px;
	left: 320px;
}

#store-selector a:hover {
	background: #24AC7E;
	color: #fff;
	cursor: pointer
}

#store-selector.hover .select-input-select-btn_icon {
	border-bottom: 0
}

#store-selector.hover .i-storeinfo {
	position: relative;
	z-index: 2;
	background: url(../img/bg_store.gif) no-repeat right -50px
}

#store-selector.hover .i-storeinfo div {
	background: url(../img/bg_store.gif) no-repeat -81px -75px
}

#store-selector.hover dl {
	display: block
}

#store-selector.hover .close {
	display: block
}

#store-prompt {
	clear: left;
	line-height: 25px
}

#store-prompt strong {
	font-size: 14px
}

#store-prompt a {
	color: #005EAA
}

*html #store-selector .i-storeinfo,
*html #store-selector .i-storeinfo div {
	float: left
}

*html #store-selector dl {
	left: 0
}

#store-selector .content {
	display: none;
	position: absolute;
	top: 32px;
	left: -45px;
	border: 1px solid #E1E6EB;
	width: 390px;
	padding: 15px;
	background: #fff;
	-moz-box-shadow: 0 0 5px #ddd;
	-webkit-box-shadow: 0 0 5px #ddd;
	box-shadow: 0 0 5px #ddd
}

#store-selector .content select {
	float: left;
	width: 120px;
	border: 1px solid #cecbce;
	margin-right: 15px
}

#store-selector .content .select3 {
	margin-right: 0
}

#store-selector.hover .content,
#store-selector.hover .close {
	display: block
}

#JD-stock {
	position: relative;
	margin-bottom: 0
}

#JD-stock .tab {
	width: 100%;
	height: 25px;
	float: left;
	border-bottom: 2px solid #24AC7E;
	overflow: visible;
	*overflow: hidden
}

#JD-stock .tab li {
	float: left;
	clear: none;
	height: 23px;
	padding: 1px 1px 0;
	border: 1px solid #ddd;
	border-bottom: 0;
	margin-right: 3px;
	background-color: #fff;
	line-height: 22px;
	text-decoration: none
}

#JD-stock .tab .curr {
	*position: relative;
	height: 25px;
	padding: 0;
	border: 2px solid #24AC7E;
	border-bottom: 0
}

#JD-stock .tab a {
	position: relative;
	float: left;
	height: 23px;
	padding: 0 20px 1px 10px;
	line-height: 23px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	color: #005AA0;
	outline: 0;
	*blr: expression(this.onFocus=this.blur())
}

#JD-stock .tab a:hover {
	background: 0;
	color: #005AA0
}

#JD-stock .tab a i {
	position: absolute;
	right: 5px;
	top: 10px;
	*top: 9px;
	display: block;
	width: 7px;
	height: 5px;
	overflow: hidden;
	background: url(../images/20130606B.png) no-repeat -76px -34px;
	opacity: .5;
	filter: alpha(opacity=50)
}

#JD-stock .tab .curr i,
#JD-stock .tab a:hover i {
	opacity: 1;
	filter: alpha(opacity=100)
}

#JD-stock .area-list {
	padding-top: 5px
}

#JD-stock .area-list li {
	float: left;
	width: 80px;
	padding: 2px 0 2px 15px;
	clear: none
}

#JD-stock .area-list li a {
	float: left;
	padding: 2px 4px;
	*padding: 0 4px;
	color: #005aa0
}

#JD-stock .area-list li a:hover {
	color: #fff
}

#JD-stock .area-list .longer-area {
	width: 370px
}

#JD-stock .area-list .long-area {
	width: 170px
}


/* 翻页组件CSS */

.bulk-operation {
	position: relative;
	width: 108px;
	cursor: pointer;
}

.bulk-operation-btn {
	height: 30px;
	border: 1px solid #E1E6EB;
	line-height: 30px;
	padding-left: 14px;
	box-sizing: content-box;
	background-color: #FAFAFA;
}

.bulk-operation-btn:hover {
	background-color: #f5f5f5;
}

.bulk-operation-btn span {
	display: block;
	float: left;
	margin-right: 14px;
}

.bulk-operation-btn a {
	width: 30px;
	height: 30px;
	display: block;
	float: right;
	border-left: 1px solid #E1E6EB;
	float: left;
	background: #FFF;
}

.bulk-operation-btn a i {
	line-height: 30px;
	color: #24AC7E;
	display: block;
	text-align: center;
}

.bulk-operation ul {
	position: absolute;
	width: 100%;
	display: none;
	text-align: center;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	background-color: #FFF;
	padding: 0;
	margin: 0;
	border: 1px solid #E1E6EB;
	border-top: noen;
}

.bulk-operation ul li:first-child {
	border-top: none;
}

.dropdown-menu > li > a {
	padding: 0;
	line-height: inherit;
}

.bulk-operation.open ul {
	display: block;
}

.bulk-operation ul li {
	height: 30px;
	border-top: 1px solid #eaedf1;
	text-align: left;
	padding: 0 15px;
	line-height: 30px;
	font-weight: 300;
	color: #9DA2B6;
}

.bulk-operation ul li a {
	color: inherit
}

.bulk-operation.open .bulk-operation-btn {
	background-color: #FFF;
	color: #333;
}

.bulk-operation ul li:hover {
	background-color: #f7f7f7;
	color: #333;
}

.bulk-operation.open > ul {
	display: block;
}

.pagination-info {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	padding: 0px 16px;
	color: #888;
	float: left;
	line-height: 32px;
}

.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 0px;
	vertical-align: middle;
	border-radius: 0px;
	float: left;
}

.pagination-goto {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	padding: 0px 0 0 15px;
	float: left;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
	color: #777;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd;
}

.pagination > li > a,
.pagination > li > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #428bca;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
	color: #777;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.pagination > li {
	display: inline-block;
	height: 32px;
}

.pagination > li > a,
.pagination > li > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #428bca;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.pagination > li > a,
.pagination > li > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #428bca;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
	color: #24AC7E;
	background-color: #eee;
	border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #24AC7E;
	border-color: #24AC7E;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.pagination-goto input.ipt {
	width: 40px;
	display: inline-block;
	margin-right: 6px;
	font-size: 12px;
	height: 32px;
	float: left;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.pagination-goto .btn {
	padding: 8px;
	font-size: 12px;
	line-height: 14px;
	float: left;
}

.pagination-goto .btn:hover {
	background-color: #24AC7E;
	color: #FFF;
	border-color: #24AC7E;
}

.form-control:focus {
	border-color: #24AC7E;
	outline: 0;
	box-shadow: none;
}

.page-box p.page-tips {
	position: absolute;
	display: block;
	padding: 0 20px;
	height: 32px;
	font-size: 14px;
	color: #FFF;
	line-height: 32px;
	margin-top: -42px;
	right: 15px;
	background-color: #E85F5C;
	display: none;
}


/*  页面标题CSS  */
.viewFramework-index-title {
	width: 100%;
	height: 62px;
	display: block;
	padding: 28px 0px 20px;
	border-bottom: 1px solid #E1E6EB;
	font-size: 14px;
	color: #22282E;
	line-height: 14px;
	float: left;
}


/*  页面标题左侧竖线   */
.viewFramework-index-title:before {
	content: '';
	width: 2px;
	height: 14px;
	display: block;
	float: left;
	background-color: #24AC7E;
	margin-right: 10px;
}


/* 树形菜单CSS */
.tree,
.special-tree {
	color: #24AC7E;
	width: 100%;
	overflow: hidden;
}

.special-tree {
	background-color: #FFF;
}

/*.secondary-li,
.thired-li,
.fourth-li {
	display: none;
}*/

.primary-li,
.secondary-li,
.thired-li,
.fourth-li {
	width: 100%;
	line-height: 20px;
	float: left;
}

.primary-li ul {
	width: 100%;
	float: left;
	display: none;
}

.primary-li ul.open {
	display: block;
}

.special-tree-btn,
.primary-li span {
	float: left;
	margin: 5px 0;
	cursor: pointer;
}

.special-tree-btn {
	height: 20px;
	width: 20px;
	background-color: #FFF;
}

.special-tree-btn i {
	display: block;
}

.special-tree-btn:hover {
	background-color: #FAFAFA;
}

.secondary-li {
	padding-left: 5px;
}

.thired-li {
	padding-left: 10px;
}

.fourth-li {
	padding-left: 15px;
}

.fourth-li button {
	display: none;
}

.primary-li span {
	color: #293038;
	display: block;
	height: 20px;
	padding: 0 5px;
	border-radius: 4px;
}

.primary-li span:hover {
	color: #FFF;
	background-color: #24AC7E;
}

.tree-primary-items {
	background-color: #FFF;
}

.tree-primary-items,
.tree-secondary-items,
.tree-third-items {
	color: #293038;
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	float: left;
	padding: 0 12px 0 23px;
	border-bottom: 1px solid #E1E6EB;
	cursor: pointer;
}

.tree-primary-items:after {
	content: "\e614";
	font-family: iconfont;
	color: #24AC7E;
	float: right;
}

.tree-secondary-items,
.tree-third-items {
	background-color: transparent;
	border-bottom: none;
	height: 30px;
	line-height: 30px;
}

.tree-secondary-items:before {
	font-family: iconfont;
	color: #24AC7E;
	float: left;
	content: "\e614";
}

.tree-secondary-items:hover {
	background-color: #FAFBFC;
}

.tree-third-items {
	background-color: #E5EAEE;
	padding-left: 40px;
}

.tree-third-items:hover {
	background-color: #E3E6EA;
}

.tree-third-items:before {
	content: "\e624";
	font-family: iconfont;
	color: #B0BACA;
	float: left;
	margin-right: 7px;
}

.tree ul {
	width: 100%;
	float: left;
	display: none;
}

.tree ul li {
	float: left;
	width: 100%;
}

.tree li.li-search {
    padding: 7px;
}

.tree li span.open + ul {
	display: block;
}

.no-chirld:before {
	content: "\e624";
	color: #B0BACA;
	margin-right: 2px;
}

.no-chirld.active:before,
.tree-third-items.active:before {
	content: "\e623";
	color: #24AC7E;
}

.have-chirld:before {
	content: "\e614" !important;
	color: #24AC7E;
}

.have-chirld + ul li {
	height: 24px;
	line-height: 24px;
	cursor: pointer;
	overflow: hidden;
}

.have-chirld + ul li span {
	color: #293038;
	padding-left: 40px;
	display: block;
}

.have-chirld + ul li:hover {
	background-color: #FAFBFC;
}

.have-chirld:before,
.tree-secondary-items:before,
.tree-primary-items:after,
.special-tree-btn i {
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	-ms-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	transition: transform 0.3s;
	opacity: 1;
}

.tree-third-items.active.have-chirld:before,
.tree-secondary-items.open:before,
.tree-primary-items.open:after,
.special-tree-btn.open i {
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotate3d(0, 0, 1, 90deg);
	-ms-transform: rotate3d(0, 0, 1, 90deg);
	transform: rotate3d(0, 0, 1, 90deg);
	transition: transform 0.3s;
	opacity: 1;
}

.tipso_bubble {
	display: block !important;
}

.tree-secondary-items_search {
	width: 100%;
	height: 33px;
	background-color: #E1E6EB;
	position: relative;
}

.tree-secondary-items_search input {
	height: 33px;
	padding: 0 10px;
	font-weight: 300;
	color: #333;
	line-height: 33px;
	position: absolute;
	right: 30px;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 999;
	background: transparent url(0) no-repeat !important;
}

.tree-secondary-items_search button {
	width: 30px;
	height: 33px;
	background-color: #FFF;
	color: #24AC7E;
	float: right;
	position: relative;
	z-index: 9;
}

.tree-secondary-items_search button:hover {
	background-color: #24AC7E;
	color: #FFF;
}

/* chart 条件样式 */

.condition-content2 {
	border-radius: 4px;
	margin-right: 10px;
}

.condition-content2 span,
.delete-condition2 {
	width: 32px;
	height: 32px;
	display: block;
	float: left;
	line-height: 32px;
}

.condition-content2 span {
	width: auto;
	height: 32px;
	padding: 0 10px;
	color: #FFF;
}

.delete-condition2 {
	background-color: transparent;
	border-radius: 0 4px 4px 0;
	text-align: center;
	cursor: pointer;
}

.delete-condition2 i {
	color: #FFF;
}

.delete-condition2:hover {
	background-image: url(../img/black15%.png);
	background-repeat: repeat;
}

.delete-condition2:before {
	content: '';
	width: 1px;
	height: 14px;
	margin: 9px 0;
	display: block;
	float: left;
	background-image: url(../img/black15%.png);
	background-repeat: repeat;
}

.color-blue {
	background-color: #62B5DF;
}

.color-yellow {
	background-color: #FFB840;
}

.color-red {
	background-color: #F26091;
}

.color-green {
	background-color: #63CBAC;
}

.color-purple {
	background-color: #9177BC;
}

.color-orange {
	background-color: #FF8A60;
}

.chart--btn {
	float: right;
	height: 32px;
	margin: 16px 20px;
}

.chart--btn li {
	float: left;
	margin-right: 10px;
}

.chart--btn li.last-child {
	margin-right: 0;
}

.condition-content,
.condition-content2 {
	float: left;
	position: relative;
	margin-bottom: 25px;
}

.condition-btn,
.delete-condition,
.chart--btn li button {
	width: 32px;
	height: 32px;
	border: 1px solid #24AC7E;
	border-radius: 4px;
	color: #24AC7E;
	background-color: #FFF;
	margin-right: 8px;
}

.condition-btn,
.delete-condition {
	float: left;
}

.delete-condition {
	margin-right: 0;
	position: absolute;
	left: 0;
	top: 32px;
	background-image: url(../img/black80%.png);
	background-repeat: repeat;
	color: #FFF;
	border: none;
	display: none;
	z-index: 9999999999999999;
}

.condition-content:hover .delete-condition {
	display: block;
}

.chart--btn li button:hover {
	background-color: #24AC7E;
	color: #FFF;
}


/* tab */
.tabs_menu {
	float: left;
	height: 35px;
	position: relative;
}

.tabs_menu li {
	width: 150px;
	float: left;
	border: 1px solid #E1E6EB;
	border-left: none;
	border-bottom: none;
	height: 34px;
	box-sizing: content-box;
	cursor: pointer;
	text-align: center;
}

.tabs_menu li:first-child {
	border-left: 1px solid #E1E6EB;
}

.tabs_menu li a {
	display: block;
	background: #f8f8f8;
	color: #9DA2B6;
	outline: none;
	height: 31px;
	line-height: 33px;
	box-sizing: content-box;
	border-top: 2px solid transparent;
	border-bottom: 1px solid #E1E6EB;
	width: 100%;
}

.tabs_menu li a:hover {
	background: #f5f5f5;
	text-decoration: none;
}

.tabs_menu .current a {
	height: 34px;
	background: #FFF !important;
	color: #22282E !important;
	border-top: 2px solid #24AC7E !important;
	border-bottom: none !important;
}

.tabs_box {
height: 100%;
width: 100%;
padding-top: 35px;
}

.tabs-wapper {
	display: none;
	width: 100%;
height: 100%;
padding-top: 15px;
}

.tabs_box .open.tabs-wapper {
	display: block;
}

.tabs_menu2 {
	width: 125px;
	height: 32px;
	border-radius: 4px;
	border: 1px solid #E1E6EB;
}

.tabs_menu2 li {
	float: left;
	display: inline-block;
	width: 25%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-left: 1px solid #E1E6EB;
	background-color: #F8F8F8;
}

.tabs_menu2 li:first-child {
	border-left: none;
}

.tabs_menu2 li.current {
	background-color: #24AC7E;
	color: #FFF;
}


/* 开关 switches */

.switches {
	width: 40px;
	height: 20px;
	background-color: #E1E6EB;
	border-radius: 9px;
	position: relative;
	cursor: pointer;
	transition: background-color .1s;
}

.switches-circle {
	width: 14px;
	height: 14px;
	border-radius: 14px;
	background-color: #FFF;
	margin: 3px 3px;
	position: absolute;
	left: 0;
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.10);
	transition: left ease .1s;
}

.switches.open {
	background-color: #24AC7E;
	transition: background-color .1s;
}

.switches.open .switches-circle {
	left: 20px;
	transition: left ease-in .1s;
}

.switches.disabled {
	background-color: #F1F4F7;
}

.switches.open.disabled {
	background-color: #63CBAC;
}


/* checkeboxes */

.checked-box,
.radio-buttons {
	width: 12px;
	height: 12px;
	cursor: pointer;
}

.checked-box i,
.radio-buttons i {
	display: block;
	overflow: hidden;
}

.checked-box i:before {
	content: "\e607";
	font-size: 12px;
	color: #E1E6EB;
	float: left;
	line-height: 12px;
}

.checked-box.disabled i:before {
	content: "\e607";
}

.checked-box.checked i:before {
	content: "\e606";
	color: #24AC7E;
}

.all-checked-btn i {
	float: left;
}


/* radio buttons */

.radio-buttons i:before {
	content: "\e624";
	font-size: 12px;
	color: #E1E6EB;
	float: left;
}

.radio-buttons.checked i:before {
	content: "\e623";
	color: #24AC7E;
}

.radio-buttons.disabled i:before {
	background-color: #E1E6EB;
	border-radius: 100%;
}

.radio-buttons.disabled.checked i:before {
	color: #E1E6EB;
	background-color: #FFF;
}

.radio-buttons.disabled i:before,
.checked-box.disabled i:before {
	color: #E1E6EB;
	background-color: #E1E6EB;
	font-size: 16px !important;
	height: 16px;
	margin: 2px;
}

.radio-buttons.disabled.checked i:before,
.checked-box.disabled.checked i:before {
	font-size: 20px !important;
	margin: 0;
	height: 20px;
	color: #E1E6EB;
	background-color: #FFF;
}

.color-1 {
	background-color: #79A5CC;
}

.color-2 {
	background-color: #87BFAC;
}

.Wdate{
	width: 100%;
	height: 33px;
	float: left;
	padding-left: 43px;
	line-height: 33px;
	color: #9DA2B6;
	position: relative;
	z-index: 9;
	box-shadow: none;
	background: transparent url(0) no-repeat !important;
	margin-left: -33px;
}
.Wdate::-ms-clear{display:none;}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}

.chooseSecond-input,
.chooseDay-input,
.choosePoint-input {
	position: relative;
	width: 240px;
	height: 35px;
	background-color: #F8F8F8;
	border: 1px solid #E1E6EB;
}

.chooseSecond-input:before,
.chooseDay-input:before,
.choosePoint-input:before {
	content: '\e609';
	font-family: iconfont;
	text-align: center;
	float: left;
	display: inline-block;
	width: 33px;
	height: 33px;
	line-height: 33px;
	background-color: #FFF;
	color: #24AC7E;
	z-index: 1;
	position: relative;
	border-right: 1px solid #E1E6EB;
}
