@charset "utf-8";


.tabs-wapper {
	display: block;
}

.tabs_box {
	top: 62px;
}

.tabs_body table thead tr th {
    padding: 0 15px;
}

.tabs_body table tr th {
	padding: 0 15px;
}


.tabs_body tr th {
	text-align: left;
	width: auto;
}

.tabs_body thead th.operation {
	padding-right: 15px;
	text-align: right;
}

.tabs_main tbody tr {
	height: 35px;
}

.tabs_body tbody tr.running .current-state i:before {
	content: "\e61a";
	color: #24AC7E;
}

.tabs_body tbody .current-state span:before {
	content: '已暂停';
}

.tabs_body tbody tr.running .current-state span:before {
	content: '执行中';
}

.tabs_body tbody tr .operation .state-btn:before {
	content: '开始';
}

.tabs_body tbody tr.running .operation .state-btn:before {
	content: '暂停';
}

.tabs_body table tbody tr .current-state {
    padding: 0 15px;
    width: auto;
}

.tabs_body th.current-state i {
    display: inline-block;
    font-size: 15px;
    margin-left: 8px;
}

.tabs_body thead th.operation {
	width: 120px;
}

.tabs_nav {
	height: auto;
	overflow: hidden;
}

.tabs_nav-top,
.tabs_nav-bottom {
	float: left;
	width: 100%;
}

.tabs_nav-top li,
.tabs_nav-bottom li {
	width: 345px;
	float: left;
	height: 32px;
	margin-bottom: 15px;
}

.tabs_nav-top li:first-child,
.tabs_nav-bottom li:first-child {
	width: 310px;
}

.tabs_nav-top li:first-child span,
.tabs_nav-bottom li:first-child span {
	width: 50px;
	padding: 0;
	text-align: left;
}

.tabs_nav-top li.last-li,
.tabs_nav-bottom li.last-li {
	width: auto;
	margin-left: 20px;
}

.tabs_nav-top input,
.tabs_nav select {
	width: 260px;
	height: 32px;
	float: left;
	background-color: #FAFAFA;
	padding-left: 10px;
	border: 1px solid #E1E6EB;
	line-height: 32px;
}

.tabs_nav span {
	display: block;
	width: 85px;
	float: left;
	line-height: 32px;
	padding-right: 15px;
	text-align: right;
}

.tabs_nav button {
	width: 75px;
	background-color: #FAFAFA;
	height: 32px;
	border: 1px solid #E1E6EB;
	border-radius: 4px;
	float: left;
}

.tabs_nav button i {
	font-size: 12px;
	color: #24AC7E;
	margin-right: 6px;
}

.tabs_nav button:hover {
	background-color: #24AC7E;
	border: 1px solid #24AC7E;
	color: #FFF;
}

.tabs_nav button:hover i {
	color: #FFF;
}

thead tr {
	height: 35px;
}
